In [8]:
#let's get started with the second week.
# We will start with the if-else statement.
a=int(input("Enter your age:"))
print("age=",a)

print(a == 18)
print(a > 18)
print(a < 18)
print(a != 18)

if(a > 18):
    print("You can drive.")
else:
    print("You cannot drive.")

#Now let's try a different case
# if I print a line in this spacing, it will not be a part of if-else.
print("Hello!")

Enter your age:23
age= 23
False
True
False
True
You can drive.
Hello!

In [9]:
#Let's try another example.
Laptop_price = 130000
budget = 100000

if(Laptop_price > budget):
    print("You cannot afford it.")
else:
    print("You can afford it.")

You cannot afford it.

In [11]:
# We can also make a even and odd number classifier with this.
num = int(input("Enter a number:"))

if((num % 2) == 0):
    print("It's a even number.")
else:
    print("It's a odd number.")

Enter a number:1233
It's a odd number.

In [18]:
# Now, we will move towards nested if-else.
b = int(input("Enter a number:"))
c = int(input("Enter a number:"))
d = int(input("Enter a number:"))

if(b>c & b>d):
    print("%2d is the biggest number." %b)
elif(c>b & c>d):
    print("%2d is the biggest number."%c)
else:
    print("%2d is the biggest number."%d)

Enter a number:32
Enter a number:43
Enter a number:23
43 is the biggest number.

In [7]:
#Now we will look into MatchCase Statements.
# it has a variable and some case clauses.
# if the value in the variable matches the case, that case get exceuted.
x = int(input("Enter a number:"))

match x:
    case 0:
        print("This is zero.")
    case 2:
        print("This is not zero.")
    case 4:
        print("You are matched.")
    #case _ if(x > 2):
    #    print("The condition has met.")
    case _:
        print(x)
# this is giving an error because it requires python 3.10 and it is a 3.9 version.

SyntaxError: invalid syntax (74463730.py, line 6)

In [19]:
# We are now talking about FOR Loop
# this loop can iterate over a sequence of iterable objects.
#name = "SyedAbid"
#for i in name:
#    print(i)
#    if(i == " "):
#        print("There is a whitespace.")

# we can also iterate over a list.
#colors = ['red','pink','black','grey','white']
#for name in colors:
#    print(name)
#    for i in name:  # this is called a loop in a loop.
#        print(i)
        
# we can also iterate over numbers
#for i in range(8):
#    print(i)
# we can also set a starting and ending point.    
for i in range(1,9):
    print(i)
    
# we can also use three arguments in which the starting two tells the
# starting and ending point and the third one tells the difference of number 
# each time the iteration runs.
for i in range(1,12,3):
    print(i)

1
2
3
4
5
6
7
8
1
4
7
10

In [1]:
# now we will learn about the brother of for loop
# The While Loop
i = 0
while(i<3):
    print(i)
    i=i+1
    
# Now let's watch another example.
i=int(input("Enter a number:"))
while(i<=47):
    i=int(input("Enter a number:"))
    print(i)
    
print("DONE!")

count = 5
while(count > 0):
    print(count)
    count = count - 1

0
1
2
Enter a number:32
Enter a number:67
67
DONE!
5
4
3
2
1

In [2]:
#We will now be using while with else.
count = 5
while(count > 0):
    print(count)
    count = count - 1
else:
    print("I am inside else.")

5
4
3
2
1
I am inside else.

In [7]:
#Now, we will be discussing break and continue.
#break, stops the loop and continue continues the loop.
for i in range(12):
    if(i == 10):
        break
    print("5 *", i , "=", 5 * i)
print("Loop has been broken.")

#Now, we will do a continue example.
for i in range(6):
    if(i==10):
        print("Iteration will continue.")
        continue
    print("5 *",i,"=",5*i)
    
i = 0
while True:
    print(i)
    i=i+1
    if(i%3==0):
        break

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
Loop has been broken.
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
0
1
2

In [5]:
#Now, we will talk about Functions in Python.
def alloperations(a,b):
    print("Addition=",a+b)
    print("Subtraction=",a-b)
    print("Mulitplication=",a*b)
    print("Division=",a/b)
    
alloperations(12,32)

Addition= 44
Subtraction= -20
Mulitplication= 384
Division= 0.375

In [13]:
#There is a lot of things that we can do with function arguments.
#Just like:
def name(fname,mname="Abid",lname="Hassan"):
    print("Assalam-o-Aalaikum",fname,mname,lname,"!")
    
name("Syed")

def average(a,b,c=8):
    print("The average is:",(a+b+c)/2)
    
average(5,7)

#We can also take tuples as functions argument.
def addition(*numbers):
    sum = 0
    for i in numbers:
        sum = sum + i
    print("The total is:",sum)
    
addition(3,4,5,6,7)

#if we use ** before arguments it will be processed as dictionary.
def name(**name):
    print("Hello!",name["fname"],name["mname"],name["lname"])
    
name(fname="Syed",mname="Abid",lname="Hassan")

#Let's see an example of return statement
def subtraction(a,b):
    c=a-b
    return c
subtraction(20,5)

Assalam-o-Aalaikum Syed Abid Hassan !
The average is: 10.0
The total is: 25
Hello! Syed Abid Hassan

15

In [23]:
#Now we will see lists and it's methods that we can apply on a list.
marks=[23,45,43,87,54,False,"Abid"]
#print(marks)
print(marks[0])
#print(marks[1])
#print(marks[2])
#print(marks[5])
#we can also perform negative indexing as
print(marks[-1])
#to print all elements of lists via loop
for i in marks:
    print(i)
#we can also apply conditions on lists
if(23 in marks):
    print("True")
else:
    print("False")
    
#we can also use range of indexes.
print(marks[1:4])
print(marks[:5])
#You can also create a list using for loop.
num=[i*i for i in range(10)] #list of square numbers.
print(num)

23
Abid
23
45
43
87
54
False
Abid
True
[45, 43, 87]
[23, 45, 43, 87, 54]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
#Now we will work on list methods.
num=[2,5,6,4]
num.append(9) #to append a new element
print(num)
num.sort() #to sort the list in ascending order.
print(num)
num.sort(reverse=True) #to sort teh list in descending order.
print(num)
print(num.index(6)) #it will print the index number of the mentioned element.
print(num.count(9)) #it will count the number of occurences of the mentioned element.
numbers=num.copy() #it makes the copy of the list.
print(numbers)
numbers.insert(2,344) #it inserts 344 at the second index
print(numbers)
m=[12,32,14]
numbers.extend(m) #it extends the numbers list with the list "m".
print(numbers)

[2, 5, 6, 4, 9]
[2, 4, 5, 6, 9]
[9, 6, 5, 4, 2]
1
1
[9, 6, 5, 4, 2]
[9, 6, 344, 5, 4, 2]
[9, 6, 344, 5, 4, 2, 12, 32, 14]

In [7]:
#Now we will move forward to Tuples.
#Tuples are same as list but immutable.
tup=(1,3,45,3)
tup1=(12,) #to create a single element tuple we have to add a comma at the end otherwise python will
          #consider it as integer.
tuple1=("green","red","blue")
print(tuple1,tup1,tup)
#all the other things are same but the only difference is that it cannot be changed.
#as tuple is immutable but it can be changed using a alternative way.
countries=('spain','uk','australia','canada','malaysia')
temp=list(countries)
temp.append('usa')
print(temp)
temp.sort()
print(temp)
countries=tuple(temp)
print(countries)
#this is how you make changes in a tuple.

('green', 'red', 'blue') (12,) (1, 3, 45, 3)
['spain', 'uk', 'australia', 'canada', 'malaysia', 'usa']
['australia', 'canada', 'malaysia', 'spain', 'uk', 'usa']
('australia', 'canada', 'malaysia', 'spain', 'uk', 'usa')

In [6]:
#let's get started with string formatting.
letter="My name is {} and I am from {}"
name="Syed Abid Hassan"
country="Pakistan"

print(letter.format(name,country))
#now we will talk about f-strings.
#it is a string formatting mechanism used in Python.
print(f"I go by {name} and I am from {country}")

#we can also print numbers rounded off to certain number of decimals.
text="For only {price:.2f} rupees!"
print(text.format(price=98.7654))
#we can also multiply numbers using f-string.
print(f"{2 * 45}")

My name is Syed Abid Hassan and I am from Pakistan
I go by Syed Abid Hassan and I am from Pakistan
For only 98.77 rupees!
90